<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <app-rezervuaras></app-rezervuaras>-->
<!--    </div>-->
<!--  </div>-->

<!--  <HR>-->
<!--  <HR>-->

<!--  <div class="row mt-5">-->
<!--    <div class="col-md-6">-->
<!--      <app-task-list ></app-task-list>-->
<!--    </div>-->
<!--    <div class="col-md-6 mb-5">-->
<!--      <app-new-task></app-new-task>-->
<!--    </div>-->
<!--  </div>-->


<!--</div>-->

<app-nav-bar></app-nav-bar>

<div class="container mb-5">
  <div class="row mt-5">
    <div class="col-md-2"> </div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-2"> </div>
  </div>
</div>
<!--  <img src="assets/nature.jpg" class="img-thumbnail"  alt="...">-->
