<nav class="navbar navbar-expand-lg text-bg-secondary">
  <div class="container">
<!--    <a class="navbar-brand" routerLink="/">Task List and KMI</a>-->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-white" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" routerLink="/">Task list</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" routerLink="/new">Add new task</a>
        </li>
        <li class="nav-item float-end">
          <a class="nav-link active text-white" routerLink="/rezervuaras">Reservoir</a>
        </li>
        <li class="nav-item float-end">
          <a class="nav-link active text-white" routerLink="/joke">Jokes</a>
        </li>
        <li class="nav-item float-end">
          <a class="nav-link active text-white" routerLink="/exchange">Exchange</a>
        </li>
<!--        <li class="nav-item float-end">-->
<!--          <a class="nav-link active" routerLink="/joke">Joke</a>-->
<!--        </li>-->
      </ul>
    </div>
  </div>
</nav>
