<div class="row">
  <div class="col-md-6">
    <div class="card opacity-75 m-2">
      <div class="card-header text-bg-dark"><h5>Reservoir filling calculator</h5></div>
      <div class="card-body">
        <div class="mb-3">
          <label>Reservoir capacity:</label>
          <input type="number" class="form-control" [(ngModel)]="talpa" >
        </div>
        <div class="mb-3">
          <label>Reservoir filling time:</label>
          <input type="number" class="form-control" [(ngModel)]="laikas">
        </div>
        <div class="mb-3">
          <label>Reservoir filling speed:</label>
          <input type="number" class="form-control" [(ngModel)]="greitis">
        </div>
        <button class="btn btn-warning" [disabled]="talpa==null || laikas==null || greitis==null"  (click)="skaiciuoti()" >Calculate</button>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card opacity-75 m-2">
      <div class="card-header text-bg-dark"><h5>Reservoir filled in percentage:</h5></div>
      <div class="card-body">
        <div *ngIf="procentai!=null"> Result: {{ procentai }} %</div>
        <div *ngIf="procentai==null"> On the left side enter time, speed, capacity and press calculate</div>
        <div *ngIf="procentai!=null">
          <div *ngIf="procentai!<80">
            <div class="alert alert-primary">Reservoir is filled within the norm</div>
          </div>
          <div *ngIf="procentai==80 || procentai!>80 && procentai!<100">
            <div class="alert alert-warning">Reservoir is almost full!</div>
          </div>
          <div *ngIf="procentai==100 || procentai!>100">
            <div class="alert alert-danger">RESERVOIR IS OVERFILLED!</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
